html {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

ul.header{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.header > li {
	float: left;
	border-right: 1px solid #bbb;
		/* modifier les deux obligatoirement si besoin */
	height: 50px;
	line-height: 50px;
	border-right: none;
}

.header > li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.header > li a:hover {
	background-color: #111;
}

#photomaton {
	display: flex;
}

li.photomaton {
	display: inline;
}

div.photomaton{
	display: inline-block;
}

img#filter{
	position: absolute;
}

.navbar-left {
	display: inline-block !important;
	float: right !important;
}

footer {
	text-align: center;
	color: white;
	background-color: #333;
	padding-top: 1vw;
	min-width : 99vw;
	min-height: 3vw;
	border-radius: 4px;
	bottom: 0;
}

img.miniature{
	height: 100px;
	width: auto;
	cursor:pointer;
}


td > div{
	text-align: center;
}

td.none{
	width: 100px;
	cursor:pointer;
}

td.photo{
	border:1px solid #000000;
}

.main-frame {
	display: inline-block;
	padding: 10px;
	background-color: #fff;
	margin-left: 3vw;
	margin-right: 3vw;
	max-width : 60vw;
	min-width : 60vw;
	border-radius: 4px;
}

.gallery {
	background-color: #fff;
	margin-left: 10px;
	border-radius: 4px;
}

td.minigal > a > img{
	height: 100px;
	width: auto;
}

div.photogallery{
	display: inline-block;
	padding: 1px;
}

div.photogallery > div{
	display: block;
	padding: 1px;
}

.photogallery > div.imgopt > span{
	float: right;
}

div.imgopt > span{
	margin-right: 5px;
	cursor:pointer;
}

div.photogallery > a > img{
	height: 200px;
	width: auto;
	border-radius: 10px;
}

#canvas {
	display: none;
}

.side-frame {
	display: inline-block;
	padding: 10px;
	background-color: #fff;
	min-width : 25vw;
	border-radius: 4px;
}

span#delete > img{
	height: 15px;
	width: 15px;
}
span#like > img{
	height: 15px;
	width: 15px;
}

#tempo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -5%;
	margin-left: -15%;
	width: 300px;
	height: 40px;
	border: 3px solid #218eb7;
	border-radius: 4px;
	font-size:1rem;
	color:#218eb7;
	text-align:center;
	line-height:40px;
	animation-name: disparition;
	animation-duration: 2s;
}

@keyframes disparition {
	from {color:#218eb7; border: 3px solid #218eb7;}
	to {color:#baecff; border: 3px solid #baecff}
}

#overlay {
	display : none;
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
}

#overlay img {
	margin-top: 15%;
}

#overlayGal {
	display : none;
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(0,0,0,0.6);
}

#actionBox {
	position: relative;
	display: inline-flex;
	margin-left: 20%;
	margin-right: 20%;
	background-color: white;
	top: 20%;
	text-align: center;
}

.likeandcom {
	padding: 20px;
}

.likebox {
	display: inline-flex;
}

div.commentBox {
	overflow-y: scroll;
	height: 260px;
	min-width: 200px;
}

div.comment {
	border: 1px solid #bbb;
	text-align: left;
	padding: 3px;
	margin: 2px;
	word-wrap: break-word;
	max-width: 200px;
}

span.user {
	display: flex;
	font-size: small;
	color: #365899;
	font-weight: bolder;
	font-style: italic;
}

span.date {
	font-size: x-small;
	display: block;
	text-align: right;
}
